
.nav-bg {
    background-image: url('../../../../public/ui/wnd_bg_light_rock.png');
    background-repeat: repeat;
    background-position: center;
    border-width: 2px;
    border-style: solid;
    color: white;
    border-color: rgb(180, 173, 134) rgb(142, 134, 107) rgb(61, 58, 48) rgb(177, 170, 142);
}