.builder-header {
    background-image: url('../../images/super_fancy_bg.png');
    background-repeat: repeat;
    background-position: center;
    width: 60vw !important;
    height: 75px !important;
    max-height: 75px !important;
    position: fixed;
    transition: left 0.2s ease;
    left: 20vw;
    color: white;
    z-index: 5;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 10% 100%);
}

.builder-header-bg {
    position: absolute;
    width: calc(60vw + 4px) !important;
    left: calc(20vw - 2px);
    transition: left 0.2s ease;
    height: 77px;
    z-index: 1;
    top: 0;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 10% 100%);
    background: rgb(180, 173, 134) !important;
}

.builder-footer {
    background-image: url('../../images/super_fancy_bg.png');
    background-repeat: repeat;
    background-position: center;
    width: 60vw !important;
    position: fixed;
    transition: left 0.2s ease;
    left: 20vw;
    color: white;
    z-index: 5;
    bottom: 0;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
}

.builder-footer-bg {
    position: fixed;
    width: calc(60vw + 4px) !important;
    left: calc(20vw - 2px);
    transition: left 0.2s ease;
    z-index: 1;
    bottom: 0;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    background: rgb(180, 173, 134) !important;
}


.builder-left-nav-bg {
    position: absolute;
    width: 84px;
    transition: left 0.2s ease;
    z-index: 1;
    top: calc(10vh - 2px);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    background: rgb(180, 173, 134) !important;
}

.builder-left-nav {
    top: 10vh;
    width   : 80px;
    position: absolute;
    left    : 0;
    z-index  : 1000;
    background-image: url('../../images/super_fancy_bg.png');
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    border-right: 2px solid rgba(0,0,0,0.1);
    position: absolute;


    .builder-left-nav-button {
        border-radius: 15px;
        width: 70px;
        height: 70px;
        opacity: 0.85;
        background-color: transparent;
        transition: opacity 0.2s ease-out; // Transition effect for opacity change
        transition: background-color 0.1s ease-out; // Transition effect for opacity change
        &:hover {
            opacity: 1.0;
        }
    }
    @media(max-height: 800px) {
        .builder-left-nav-button {
            border-radius: 10px;
            // width: 50px;
            height: 50px;
            margin: 0;
            padding: 0;
            svg {
                scale: 0.9;
            }
        }

    }
    .builder-left-nav-button-open {
        opacity: 1.0;
        background-color: rgba(180, 173, 134, 0.5) !important;
    }
}
.clickable {
    &:hover {
        text-shadow:
      -0.5px -1px 0 rgba(0,0,0,.1),  
       0.5px -1px 0 rgba(0,0,0,.1),
      -0.5px  1px 0 rgba(0,0,0,.1),
       0.5px  1px 0 rgba(0,0,0,.1); /* Outline effect */
    color: gold !important;

    }
}
.text-outline {
    cursor: initial;
    user-select: none;
    transition: text-shadow 0.2s ease;
    transition: color 0.2s ease;
    & + .clickable {
        &:hover {
            text-shadow:
          -0.5px -1px 0 rgba(0,0,0,.1),  
           0.5px -1px 0 rgba(0,0,0,.1),
          -0.5px  1px 0 rgba(0,0,0,.1),
           0.5px  1px 0 rgba(0,0,0,.1); /* Outline effect */
        color: gold !important;

        }
    }
   
    color: white !important; /* Text color */
    text-shadow:
      -1px -1px 0 rgba(0,0,0,0.5),  
       1px -1px 0 rgba(0,0,0,0.5),
      -1px  1px 0 rgba(0,0,0,0.5),
       1px  1px 0 rgba(0,0,0,0.5); /* Outline effect */
}

.outline-text-strong {
    color: white; /* Text color */
    text-shadow:
      -2px -2px 0 #000,  
       2px -2px 0 #000,
      -2px  2px 0 #000,
       2px  2px 0 #000,
      -1px -2px 0 #000,
       1px -2px 0 #000,
      -2px -1px 0 #000,
       2px -1px 0 #000,
      -2px  1px 0 #000,
       2px  1px 0 #000,
      -1px  2px 0 #000,
       1px  2px 0 #000; /* More detailed outline effect */
  }