.zone-overlay-text {
    &:hover {
        color: white;
    }
}

.raycast-tooltip {
    position: fixed;
    background-color: transparent;
    padding: 5px;
    border-color: gold;
    pointer-events: none;
    user-select: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    p {
        color: gold;
        padding: 2px;
        margin: 2px;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Outline effect */
    }
  }